<html>

<head><meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="./static/stylee.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
p{
font-size: 20px;

}

</style>

</head>

<body>
<div class="wrap">

<!--        -->
<!--        <div class="sidebar"> <b> <p><a href="./login.html " style="text-decoration:none;">Sign In </a>-->
<!--        &nbsp &nbsp &nbsp &nbsp      		-->
<!--		<a href="./signup.html " style="text-decoration:none;">Create An Account</a></p></b>-->
        <div class="sidebar">
        <img src="./static/menu.png" alt="" id="menuicon" width="40" height="20">

            <ul><center>  <h2 style="color:red;">Covac/Pharmacy</h2><br><br></center>
                <li><a href="./main.html">Home</a></li>
                <li><a href="./bookAppointment.html">Book Appointment</a></li>
                <li><a href="./viewAppointments.html">View Appointments</a></li>
                <li><a href="./reportChangeInHealth.html">HealthHUB</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./ourDoctors.html">Our Doctors</a></li>
                <li><a href="./covidCare.html">Covid Care</a></li>

<!--				<li><a href="./signout.html">Sign Out</a></li>-->
            </ul>

      	 </div>


        <section class="main">
    <center>
            <h1 style="background-color:red;" class="h1">
                    <font color="white"> Covac/<small>Pharmacy</small>  </font>
            </h1>
    </center>
<font size="3" class="sp"><br>
<h1><br>What do we know about Sputnik V?</h1>
<br>	<p>The vaccine, developed by Moscow's Gamaleya Institute, initially generated some<br> controversy after being rolled out before the final trial data had been released. But<br> scientists say its benefits have now been demonstrated.
	</p>
   
<br>
 <img src="./static/sputnik.jpg" width="600" height="300 ">
<br>

<p>

It uses a cold-type virus, engineered to be harmless, as a carrier to deliver a small <br>fragment of the coronavirus to the body. After being vaccinated, the body starts <br>to produce antibodies especially tailored to the virus.

</p>

<p>

It can be stored at temperatures of between 2 and 8C degrees (a standard fridge is <br>roughly 3-5C degrees) making it easier to transport and store.

</p>
<br>
<h1>  But it has a different second dose
</h1>
<br>
<p>
Unlike other similar vaccines, the Sputnik jab uses two slightly different versions <br>of the vaccine for the first and the second dose - given 21 days apart.
</p>

<p>
They both target the coronavirus's distinctive "spike", but use different vectors -<br> the neutralised virus that carries the spike to the body.
</p>

<p>
The idea is that using two different formulas boosts the immune system even more than <br>using the same version twice - and may give longer-lasting protection.
</p>

<p>
India received its first batch of 125 million doses of the vaccine in May. The Russian <br>Direct Investment Fund (RDIF), which is marketing the vaccine, has signed deals<br> to produce more than 750 million doses of the vaccine with six more domestic vaccine<br> makers, according to reports.
</p>

<p>
Sputnik V has been approved so far in 60 countries, including Argentina, Palestinian<br> territories, Venezuela, Hungary, UAE and Iran.
</p>
<br>
<h1>  So what do we know about Covaxin? </h1>
<br>
<p>

Covaxin is an inactivated vaccine which means that it is made up of killed  coronaviruses,<br> making it safe to be injected into the body.
</p>


<p>
Bharat Biotech, a 24-year-old vaccine maker with a portfolio of 16 vaccines and exports to<br> 123 countries, used a sample of the coronavirus, isolated by India's National Institute of Virology.
</p>

<p>
When administered, immune cells can still recognise the dead virus, prompting the immune <br>system to make antibodies against the pandemic virus.
</p>
<br><img src="./static/covaxin.jpg " width="700 " height="400 ">
<br>
<p>
The two doses are given four weeks apart. The vaccine can be stored at 2C to 8C.
</p>

<p>
The vaccine has an efficacy rate of 81%, preliminary data from its phase 3 trial shows.
</p>

<p>
 India's regulators gave the vaccine an emergency approval in January while the third phase <br>of the trial was still underway, sparking scepticism and questions from experts.
</p>
<br>
<h1> 

 What about Covishield?

</h1>
<br>
<p>
The Oxford-AstraZeneca vaccine is being manufactured locally by SII.
</p>

<p>
The vaccine is made from a weakened version of a common cold virus (known as an adenovirus) from <br>chimpanzees. It has been modified to look more like coronavirus - although it can't cause illness.
</p>
<br>
<img src="./static/covidshield.jpg " width="700" height="400">
<br>
<p>
When the vaccine is injected into a patient, it prompts the immune system to start making antibodies<br> and primes it to attack any coronavirus infection.
</p>

<p>
The jab is administered in two doses given between four and 12 weeks apart. It can be safely stored <br>at temperatures of 2C to 8C and can easily be delivered in existing health care settings such as<br> doctors' surgeries.
</p>

<h1>   How effective is Covishield?</h1>

<p>
International clinical trials of the Oxford-AstraZeneca vaccine showed that when people were given a<br> half dose and then a full dose, effectiveness hit 90%.
</p>

<p>
But there was not enough clear data to approve the half-dose, full-dose idea.
</p>

<p>
However, unpublished data suggests that leaving a longer gap between the first and second doses increases <br>the overall effectiveness of the jab - in a sub-group given the vaccine this way it was found to be <br>70% effective after the first dose.
</p>
<br>
<img src="./static/comparevac.png ">
<br>
<p>
 The SII, the Indian maker of the vaccine, says Covishield is "highly effective"  and backed by phase III <br>trial data from Brazil and United Kingdom. Clinical trials  are a three-phased process to determine <br>whether the vaccine induces good immune <br> responses and whether it causes any unacceptable side-effects.
<a href="./aboutVaccinesShowMore.html">Show More</a></p></section>

		</div>

<script>
    $(document).ready(function(){

        $("#menuicon").click(function(){
            $(".sidebar").toggleClass("opensidebar")
        });

    });
</script>
</body>

</html>