<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="./static/stylee.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    p{
    text-align:right;
    color:powderblue;
    }


	div.fixed{
  position:fixed;
  bottom:0;
  right:0;
  width:180px;

  border:3px solid red;
  background-color:green;

  }
</style>

</head>

<body>

 <div class="wrap">

<!--        -->
<!--        <div class="sidebar"> <b> <p><a href="./login.html " style="text-decoration:none;">Sign In </a>-->
<!--        &nbsp &nbsp &nbsp &nbsp      		-->
<!--		<a href="./signup.html " style="text-decoration:none;">Create An Account</a></p></b>-->
        <div class="sidebar">
        <img src="./static/menu.png" alt="" id="menuicon" width="40" height="20">

            <ul>
                <li><a href="./main.html">Home</a></li>
                <li><a href="./bookAppointment.html">Book Appointment</a></li>
                <li><a href="./viewAppointments.html">View Appointments</a></li>
                <li><a href="./reportChangeInHealth.html">HealthHUB</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./ourDoctors.html">Our Doctors</a></li>
                <li><a href="./covidCare.html">Covid Care</a></li>

<!--				<li><a href="./signout.html">Sign Out</a></li>-->
            </ul>

      	 </div>


        <section class="main">
    <center>
            <h1 style="background-color:red;" class="h1">
                    <font color="white"> Covac/<small>Pharmacy</small>  </font>
            </h1>
    </center>
<form>


<font size="6"><br>Report Changes in health</font>

<hr>

Fill in any value you want to report(all fields are optional):
<br>

<table>
    <tr>
        <td>
Name
</td>
        <td>
 <input type="text" name="name" required>
</td>
        </tr>

 <br>

<tr>
    <td>
Fever
</td>

    <td>
 <input type="text" name="Fever" required></td>
    </tr>



<tr>
<td>Diabetes</td>

 <td>

   <input type="text" name="Diabetes" required>
 </td>
 </tr><tr>
    <td>

Cancer
</td>
    <td>

<input type="text" name="Cancer" required>

</td>

</tr>



    <tr>
        <td>

    Asthma
</td>
<td>
 <input type="text" name="asthma" required>
</td>

</tr>

</table>
<br>

Other info:

<br>

<textarea rows=" 5" cols="90" name="description" placeholder='comment' required></textarea> 

<br>
 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<br>

Your email(optional):<br>
<textarea rows="1" cols="90" name="description" placeholder="email" required></textarea>

<hr>


<p><input type='submit' name='submit' value='Submit'/></p>
	</section>

		</div>
<a href="./bookAppointment.html"  style="
  text-decoration:none;"><div class="fixed"><b  style="color:white;">Schedule Now
      </a></div>
<script>
    $(document).ready(function(){

        $("#menuicon").click(function(){
            $(".sidebar").toggleClass("opensidebar")
        });

    });
</script>

</body>
</html>

</form></font>